@model ParaglidingProject.SL.Core.Paraglider.NS.TransfertObjects.ParagliderDto
@{
    ViewData["Title"] = "Edit";
}

<h1>Publier</h1>

<h4>Parapente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ParagliderId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommissioningDate" class="control-label"></label>
                <input asp-for="CommissioningDate" class="form-control" />
                <span asp-validation-for="CommissioningDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastRevision" class="control-label"></label>
                <input asp-for="LastRevision" class="form-control" />
                <span asp-validation-for="LastRevision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParagliderModelId" class="control-label"></label>
                <select asp-for="ParagliderModelId" class="form-control" asp-items="ViewBag.ParaglidersModels"></select>
                <span asp-validation-for="ParagliderModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
