@model  ParaglidingProject.Models.Payment

 @{
     ViewData["Title"] = "CreatePayment";
}

<h1>Créer un nouveau payement pour @ViewBag.SubsciptionID</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePayment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SubsciptionID" value="@ViewBag.SubsciptionID"/>
            <div class="form-group">
                <label asp-for="PilotID" class="control-label"></label><br />
                <select asp-for="PilotID" class="form-control" asp-items="ViewBag.PilotID" ></select><br />
                <span asp-validation-for="PilotID" class="text-danger validator"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsPay" class="control-label"></label><br />
                <input asp-for="IsPay" class="form-control" /><br />
                <span asp-validation-for="IsPay" class="text-danger validator"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatePay" class="control-label"></label><br />
                <input asp-for="DatePay" class="form-control" /><br />
                <span asp-validation-for="DatePay" class="text-danger validator"></span>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Ajouter" class="btn btn-primary add" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index" class="btn btn-primary styleLink">Retour</a>
</div>