@model ParaglidingProject.Models.Payment

@{
    ViewData["Title"] = "Edition du Payment";
}


    <h1>Edition du payement de @Model.Pilot.FirstName @Model.Pilot.LastName pour l'année @Model.Subscription.YearID</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPayment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="IsPay" class="control-label"></label>
                <input asp-for="IsPay" class="form-control" />
                <span asp-validation-for="IsPay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatePay" class="control-label"></label>
                <input asp-for="DatePay" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Sauver" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Retour</a>
</div>

